html, body {
	margin:0;
	padding:0;
}

body {
	font:normal 14px/1.2 Helvetica, Arial, sans-serif;
	padding:20px;
}

form {
	margin-bottom:20px;
}

form input {
	display:inline-block;
	font-size:16px;
	padding:4px;
}

.grid {
	overflow:hidden;
}

.grid .image-container {
	position:relative;
	float:left;
	width:200px;
	height:200px;
	overflow:hidden;
	margin-right:20px;
	margin-bottom:20px;
}

.grid .image-container img {
	position:relative;
	display:block;
	width:100%;
	height:auto;
}

.grid .image-container button {
	position:absolute;
	top:10px;
	left:10px;
	display:none;
}

.grid .image-container:hover button {
	display:block;
}

